**/.idea/**/dictionaries
**/.idea/**/shelf/
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/**/usage.statistics.xml

**/.idea/**/dataSources/
**/.idea/**/dataSources.local.xml

**/.idea/**/httpRequests/

/venv
/.idea
